# emacs backup files
*~
# ejfnote 
ejfnotes.txt
# Python byte code
*.pyc
# scratch files from batch constructions (see readme-batch.org)
MW-*-scratch.txt
MW-*-log.txt
temp*.txt
pysanskrit/prodchk/outputs/*.txt
pysanskrit/old/*
pysanskrit/test2_aorvar.py
