# emacs backup files
*~
# ejfnote 
ejfnotes.txt
# Python byte code
*.pyc
# scratch files from batch constructions (see readme-batch.org)
MW-*-scratch.txt
MW-*-log.txt
temp*.txt
pysanskrit/prodchk/outputs/*.txt
pysanskrit/old/*
pysanskrit/test2_aorvar.py
huetcompare/huet/*
huetcompare/verbs-tp-fut1/*
pysanskritv1/prodchk/outputs/*
pysanskritv1/old/*
pysanskritv1/test2_aorvar.py
pysanskritv1/*.el
pysanskritv1/dhaval/generatedforms/*.xml
pysanskritv1/dhaval/generatedforms/*.dtd
pysanskritv1/dhaval/function.php
pysanskritv1/roots/old/*
